.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-image: url("./assets/IMG_5078.jpg");
}

.profileImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.glowing-text-dynamic {
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
  }
  to {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  }
}

ul {
  font-size: 30px;
}
